@model MasterPiece.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>eCommerce HTML-5 Template </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="~/two/site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="~/two/assets/img/favicon.ico">

    <!-- CSS here -->
    @*<link rel="stylesheet" href="~/two/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/two/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/two/assets/css/flaticon.css">
    <link rel="stylesheet" href="~/two/assets/css/slicknav.css">
    <link rel="stylesheet" href="~/two/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/two/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/two/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/two/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/two/assets/css/slick.css">
    <link rel="stylesheet" href="~/two/assets/css/nice-select.css">*@
    <link rel="stylesheet" href="~/two/assets/css/style.css">
</head>
<!-- slider Area Start-->
<div class="slider-area ">
    <!-- Mobile Menu -->
    <div class="single-slider slider-height2 d-flex align-items-center" style=" background-image:url(../../assets/img/gallery/11.jpeg);">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>Register</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider Area End-->
<!--================login_part Area =================-->
<section class="login_part section_padding">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="login_part_img">
                    <img src="~/assets/img/gallery/back4.png" alt="image">
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="login_part_form">
                    <div class="login_part_form_iner">
                        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <h4 class="text-left">Create a new account</h4>
                            <br />
                            <form class="form contact_form" action="#" method="post">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Email)
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Password)
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ConfirmPassword)
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                </div>
                                <input type="submit" class="btn btn-primary btn-block" style="background-color:burlywood;" value="Create an Account">
                            </form>
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- All JS Custom Plugins Link Here here -->
<script src="~/two/assets/js/vendor/modernizr-3.5.0.min.js"></script>

<!-- Jquery, Popper, Bootstrap -->
<script src="~/two/assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="~/two/assets/js/popper.min.js"></script>
<script src="~/two/assets/js/bootstrap.min.js"></script>
<!-- Jquery Mobile Menu -->
<script src="~/two/assets/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="~/two/assets/js/owl.carousel.min.js"></script>
<script src="~/two/assets/js/slick.min.js"></script>

<!-- One Page, Animated-HeadLin -->
<script src="~/two/assets/js/wow.min.js"></script>
<script src="~/two/assets/js/animated.headline.js"></script>

<!-- Scrollup, nice-select, sticky -->
<script src="~/two/assets/js/jquery.scrollUp.min.js"></script>
<script src="~/two/assets/js/jquery.nice-select.min.js"></script>
<script src="~/two/assets/js/jquery.sticky.js"></script>
<script src="~/two/assets/js/jquery.magnific-popup.js"></script>

<!-- contact js -->
<script src="~/two/assets/js/contact.js"></script>
<script src="~/two/assets/js/jquery.form.js"></script>
<script src="~/two/assets/js/jquery.validate.min.js"></script>
<script src="~/two/assets/js/mail-script.js"></script>
<script src="~/two/assets/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="~/two/assets/js/plugins.js"></script>
<script src="~/two/assets/js/main.js"></script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
